<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BiblioOnline</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("BiblioOnline", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>
    <div>
        @Html.Partial("_SearchPartial")
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
     </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        <script>

            var confirmation = {
                init: function () {
                    var booklist = $('.book-panel').toArray();
                    //
                    $.each(booklist, function (i, e) {
                        var dato = $(this).find('.book-description').data('isbn');
                        var libro = $(this);
                        console.log(this)
                        $.ajax({
                            url: 'https://www.googleapis.com/books/v1/volumes?q=isbn:' + dato,
                            dataType: 'json',
                            success: function (response) {
                                //console.log(this)
                                //var title = response.items[0].volumeInfo.title;
                                var thumb = response.items[0].volumeInfo.imageLinks.thumbnail;
                                //libro.find('.title').text(title);
                                libro.find('.book-cover > img').attr('src', thumb);

                            }
                        })
                    })
                }

            }

            $(document).ready(function () {
                $('.book-rent').on('click', function (event) {
                    event.preventDefault();
                    $(this).text('Rentado');
                })

                confirmation.init();

            })
        </script>
</body>
</html>
