@using Microsoft.AspNet.Identity
@model IEnumerable<Biblioteca_eCommerce.Models.reservaLibro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
       
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Libro.IdLibro)
            </th>
            <th></th>
        </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Libro.Nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdReserva }) |
                @Html.ActionLink("Details", "Details", new { id=item.IdReserva }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdReserva })
            </td>
        </tr>
    }
    </table>
<h2> @Html.Raw(User.Identity.GetUserName()) </h2>
}